@(
  data: com.bryzek.dependency.lib.UiData,
  repositories: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.Repository],
  errorMessages: Seq[String] = Nil
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some("Add project")), errorMessages = errorMessages) {

  @if(repositories.items.isEmpty) {

  } else {
    <a href="@routes.ProjectsController.createAll()">Add all</a>

    <div class="table-responsive">
      <table class="table">
        @repositories.items.map { repo =>
          <tr>
            <td><a href="@routes.ProjectsController.createFromRepo(repo.name, repositories.page)">@{repo.name}</a></td>
            <td>@repo.uri</td>
          </tr>
        }
      </table>

      @if(repositories.hasPrevious || repositories.hasNext) {
        <ul class="pager">
          @if(repositories.hasPrevious) {
            <li><a href="@routes.ProjectsController.create(repositories.page - 1)">Previous</a></li>
         }
          @if(repositories.hasNext) {
           <li><a href="@routes.ProjectsController.create(repositories.page + 1)">Next</a></li>
          }
        </ul>
      }
    </div>
  }

}
