@(
  data: com.bryzek.dependency.lib.UiData,
  project: com.bryzek.dependency.v0.models.Project,
  libraryRecommendations: Seq[com.bryzek.dependency.v0.models.LibraryRecommendation],
  binaryRecommendations: Seq[com.bryzek.dependency.v0.models.BinaryRecommendation],
  binaryVersions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.BinaryVersion],
  libraryVersions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.LibraryVersion],
  isWatching: Boolean
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some(project.name))) {

  <div class="pull-right">
    @if(isWatching) {
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.WatchProjectsController.delete(project.guid)">Watching</a>
    } else {
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.WatchProjectsController.create(project.guid)">Watch</a>
    }
    | <span class="glyphicon glyphicon-plus"></span> <a href="@routes.ProjectsController.edit(project.guid)">Edit</a>
  </div>

  <ul>
    <li>SCMS: @project.scms.toString</li>
    <li>URI: <a href="@project.uri">@project.uri</a></li>
    <li>@audit(project.audit)</li>
  </ul>

  @if(!binaryVersions.isEmpty || !libraryVersions.isEmpty) {
    <h3>Recommendations</h3>
    @if(libraryRecommendations.isEmpty && binaryRecommendations.isEmpty) {
      <em>Awesome - your project is fully up to date!</em>
    } else {
      @if(!libraryRecommendations.isEmpty) {
        @views.html.libraries.recommendationsTable(libraryRecommendations)
      }
      @if(!binaryRecommendations.isEmpty) {
        @views.html.binaries.recommendationsTable(binaryRecommendations)
      }
    }
  }

  <h3>Dependencies</h3>
  @if(binaryVersions.isEmpty && libraryVersions.isEmpty) {
    <em>No dependencies found</em>
  } else {
    @if(!binaryVersions.isEmpty) {
      @views.html.binaries.versions.table(binaryVersions)
      @if(binaryVersions.hasPrevious || binaryVersions.hasNext) {
        <ul class="pager">
          @if(binaryVersions.hasPrevious) {
            <li><a href="@routes.ProjectsController.show(project.guid, binariesPage = binaryVersions.page - 1, librariesPage = libraryVersions.page)">Previous</a></li>
          }
          @if(binaryVersions.hasNext) {
            <li><a href="@routes.ProjectsController.show(project.guid, binariesPage = binaryVersions.page + 1, librariesPage = libraryVersions.page)">Next</a></li>
          }
        </ul>
      }
    }

    @if(!libraryVersions.isEmpty) {
      @views.html.libraries.versions.table(libraryVersions)
      @if(libraryVersions.hasPrevious || libraryVersions.hasNext) {
        <ul class="pager">
          @if(libraryVersions.hasPrevious) {
            <li><a href="@routes.ProjectsController.show(project.guid, binariesPage = libraryVersions.page, librariesPage = libraryVersions.page - 1)">Previous</a></li>
          }
          @if(libraryVersions.hasNext) {
            <li><a href="@routes.ProjectsController.show(project.guid, binariesPage = libraryVersions.page, librariesPage = libraryVersions.page + 1)">Next</a></li>
          }
        </ul>
      }
    }
  }

}
