@(
  data: com.bryzek.dependency.lib.UiData,
  project: com.bryzek.dependency.v0.models.Project,
  libraryRecommendations: Seq[com.bryzek.dependency.v0.models.LibraryRecommendation],
  languageRecommendations: Seq[com.bryzek.dependency.v0.models.LanguageRecommendation],
  languageVersions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.LanguageVersion],
  libraryVersions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.LibraryVersion],
  isWatching: Boolean
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some(project.name))) {

  <div class="pull-right">
    @if(isWatching) {
      <span class="glyphicon glyphicon-plus"></span> <a href="#">Watching</a>
    } else {
      <span class="glyphicon glyphicon-plus"></span> <a href="#">Watch</a>
    }
    | <span class="glyphicon glyphicon-plus"></span> <a href="@routes.ProjectsController.edit(project.guid)">Edit</a>
  </div>

  <ul>
    <li>SCMS: @project.scms.toString</li>
    <li>URI: <a href="@project.uri">@project.uri</a></li>
    <li>@audit(project.audit)</li>
  </ul>

  @if(!languageVersions.isEmpty || !libraryVersions.isEmpty) {
    <h3>Recommendations</h3>
    @if(libraryRecommendations.isEmpty && languageRecommendations.isEmpty) {
      <em>Awesome - your project is fully up to date!</em>
    } else {
      @if(!libraryRecommendations.isEmpty) {
        @views.html.libraries.recommendationsTable(libraryRecommendations)
      }
      @if(!languageRecommendations.isEmpty) {
        @views.html.languages.recommendationsTable(languageRecommendations)
      }
    }
  }

  <h3>Dependencies</h3>
  @if(languageVersions.isEmpty && libraryVersions.isEmpty) {
    <em>No dependencies found</em>
  } else {
    @if(!languageVersions.isEmpty) {
      @views.html.languages.versions.table(languageVersions)
      @if(languageVersions.hasPrevious || languageVersions.hasNext) {
        <ul class="pager">
          @if(languageVersions.hasPrevious) {
            <li><a href="@routes.ProjectsController.show(project.guid, languagesPage = languageVersions.page - 1, librariesPage = libraryVersions.page)">Previous</a></li>
          }
          @if(languageVersions.hasNext) {
            <li><a href="@routes.ProjectsController.show(project.guid, languagesPage = languageVersions.page + 1, librariesPage = libraryVersions.page)">Next</a></li>
          }
        </ul>
      }
    }

    @if(!libraryVersions.isEmpty) {
      @views.html.libraries.versions.table(libraryVersions)
      @if(libraryVersions.hasPrevious || libraryVersions.hasNext) {
        <ul class="pager">
          @if(libraryVersions.hasPrevious) {
            <li><a href="@routes.ProjectsController.show(project.guid, languagesPage = libraryVersions.page, librariesPage = libraryVersions.page - 1)">Previous</a></li>
          }
          @if(libraryVersions.hasNext) {
            <li><a href="@routes.ProjectsController.show(project.guid, languagesPage = libraryVersions.page, librariesPage = libraryVersions.page + 1)">Next</a></li>
          }
        </ul>
      }
    }
  }

}
