@(
  data: com.bryzek.dependency.www.lib.UiData,
  guid: java.util.UUID,
  n: Int,
  syncStarted: Option[com.bryzek.dependency.v0.models.Sync],
  pending: Seq[String],
  completed: Seq[String]
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some("Please wait while we sync your project"))) {
  <meta http-equiv="refresh" content="@n; url=@routes.ProjectsController.sync(guid, (n * 1.1).toInt)" />

  @if(syncStarted.isEmpty) {
    <em>Waiting for project to sync.</em>
  } else {
    <em>
      Project sync started at
      @com.bryzek.dependency.www.lib.DateHelper.longDateTimeOption(syncStarted.map(_.audit.createdAt)).
      Waiting for sync to complete.
    </em>

    @if(!pending.isEmpty) {
      <p><b>Pending:</b><p>
      @syncTable(pending)
    }

    @if(!completed.isEmpty) {
      <p><b>Completed:</b><p>
      @syncTable(completed)
    }
  }
    
}
