@(
  data: com.bryzek.dependency.lib.UiData,
  language: com.bryzek.dependency.v0.models.Language,
  versions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.LanguageVersion],
  projectLanguageVersions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.ProjectLanguageVersion]
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some(s"Language: ${language.name}"))) {

  <ul>
    <li>Name: @language.name</li>
    <li>Versions:
      @versions.items.map { version =>
        @version.version
      }
      @if(versions.hasNext) {
        [<a href="#">More</a>]
      }
    </li>
    <li>@audit(language.audit)</li>
  </ul>

  <h3>Projects</h3>
  <div class="table-responsive">
    <table class="table">
      @projectLanguageVersions.items.map { rec =>
        <tr>
          <td><a href="@routes.ProjectsController.show(rec.project.guid)">@{rec.project.name}</a></td>
          <td><a href="">@{rec.languageVersion.version}</a></td>
        </tr>
      }
    </table>
  </div>

  @if(projectLanguageVersions.hasPrevious || projectLanguageVersions.hasNext) {
    <ul class="pager">
      @if(projectLanguageVersions.hasPrevious) {
        <li><a href="@routes.LibrariesController.show(language.guid, projectsPage = projectLanguageVersions.page - 1)">Previous</a></li>
      }
      @if(projectLanguageVersions.hasNext) {
        <li><a href="@routes.LibrariesController.show(language.guid, projectsPage = projectLanguageVersions.page + 1)">Next</a></li>
      }
    </ul>
  }

}
