@(
  data: com.bryzek.dependency.www.lib.UiData,
  binary: com.bryzek.dependency.v0.models.Binary,
  versions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.BinaryVersion],
  projectBinaries: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.ProjectBinary]
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some(s"Binary: ${binary.name}"))) {

  <ul>
    <li>Name: @binary.name</li>
    <li>Versions:
      @versions.items.map { version =>
        @version.version
      }
      @if(versions.hasNext) {
        [<a href="#TODO">More</a>]
      }
    </li>
    <li>@audit(binary.audit)</li>
  </ul>

  @views.html.binaries.versions.table(versions)
  @if(versions.hasPrevious || versions.hasNext) {
    <ul class="pager">
      @if(versions.hasPrevious) {
        <li><a href="@routes.BinariesController.show(binary.guid, versionsPage = versions.page - 1, projectsPage = projectBinaries.page)">Previous</a></li>
      }
      @if(versions.hasNext) {
        <li><a href="@routes.BinariesController.show(binary.guid, versionsPage = versions.page + 1, projectsPage = projectBinaries.page)">Next</a></li>
      }
    </ul>
  }


  <h3>Projects</h3>
  <div class="table-responsive">
    <table class="table">
      @projectBinaries.items.map { rec =>
        <tr>
          <td><a href="@routes.ProjectsController.show(rec.project.guid)">@{rec.project.name}</a></td>
          <td><a href="">@{rec.version}</a></td>
        </tr>
      }
    </table>
  </div>

  @if(projectBinaries.hasPrevious || projectBinaries.hasNext) {
    <ul class="pager">
      @if(projectBinaries.hasPrevious) {
        <li><a href="@routes.LibrariesController.show(binary.guid, versionsPage = versions.page, projectsPage = projectBinaries.page - 1)">Previous</a></li>
      }
      @if(projectBinaries.hasNext) {
        <li><a href="@routes.LibrariesController.show(binary.guid, versionsPage = versions.page, projectsPage = projectBinaries.page + 1)">Next</a></li>
      }
    </ul>
  }

}
