@(
  data: com.bryzek.dependency.lib.UiData,
  library: com.bryzek.dependency.v0.models.Library,
  versions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.LibraryVersion],
  projectLibraryVersions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.ProjectLibraryVersion]
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some(s"Library: ${library.groupId}.${library.artifactId}"))) {

  <ul>
    <li>Group ID: <a href="@routes.SearchController.index(q = Some(library.groupId))">@library.groupId</a></li>
    <li>Artifact ID: <a href="@routes.SearchController.index(q = Some(library.artifactId))">@library.artifactId</a></li>
    <li>@audit(library.audit)</li>
  </ul>

  @views.html.libraries.versions.table(versions, displayLibrary = false)
  @if(versions.hasPrevious || versions.hasNext) {
    <ul class="pager">
      @if(versions.hasPrevious) {
        <li><a href="@routes.LibrariesController.show(library.guid, versionsPage = versions.page - 1, projectsPage = projectLibraryVersions.page)">Previous</a></li>
      }
      @if(versions.hasNext) {
        <li><a href="@routes.LibrariesController.show(library.guid, versionsPage = versions.page + 1, projectsPage = projectLibraryVersions.page)">Next</a></li>
      }
    </ul>
  }

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Library</th>
          <th>Version</th>
          <th>Cross built for</th>
        </tr>
      </thead>
      @projectLibraryVersions.items.map { rec =>
        <tr>
          <td><a href="@routes.ProjectsController.show(rec.project.guid)">@{rec.project.name}</a></td>
          <td>@rec.libraryVersion.library.groupId.@rec.libraryVersion.library.artifactId</td>
          <td>@rec.libraryVersion.version</td>
          <td>@rec.libraryVersion.crossBuildVersion.getOrElse("-")</td>
        </tr>
      }
    </table>
  </div>

  @if(projectLibraryVersions.hasPrevious || projectLibraryVersions.hasNext) {
    <ul class="pager">
      @if(projectLibraryVersions.hasPrevious) {
        <li><a href="@routes.LibrariesController.show(library.guid, versionsPage = versions.page, projectsPage = projectLibraryVersions.page - 1)">Previous</a></li>
      }
      @if(projectLibraryVersions.hasNext) {
        <li><a href="@routes.LibrariesController.show(library.guid, versionsPage = versions.page, projectsPage = projectLibraryVersions.page + 1)">Next</a></li>
      }
    </ul>
  }

}
