@(
  data: com.bryzek.dependency.lib.UiData,
  library: com.bryzek.dependency.v0.models.Library,
  versions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.LibraryVersion],
  projects: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.Project]
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some(s"Library: ${library.groupId}.${library.artifactId}"))) {

  <ul>
    <li>Group ID: @library.groupId</li>
    <li>Artifact ID: @library.artifactId</li>
    <li>Resolvers: @library.resolvers</li>
    <li>Versions:
      @versions.items.map { version =>
        <a href="#">@version.version</a>
      }
      @if(versions.hasPrevious) {
        <a href="@routes.LibrariesController.show(library.guid, versionsPage = versions.page - 1, projectsPage = projects.page)">Previous</a>
      }
      @if(versions.hasNext) {
        <a href="@routes.LibrariesController.show(library.guid, versionsPage = versions.page + 1, projectsPage = projects.page)">Next</a>
	}
    </li>
  </ul>

  <h3>Projects</h3>
  @views.html.projects.table(projects)
  @if(projects.hasPrevious || projects.hasNext) {
    <ul class="pager">
      @if(projects.hasPrevious) {
        <li><a href="@routes.LibrariesController.show(library.guid, versionsPage = versions.page, projectsPage = projects.page - 1)">Previous</a></li>
      }
      @if(projects.hasNext) {
        <li><a href="@routes.LibrariesController.show(library.guid, versionsPage = versions.page, projectsPage = projects.page + 1)">Next</a></li>
      }
    </ul>
  }

}
