@(data: com.bryzek.dependency.lib.UiData)

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="@routes.ApplicationController.index()">dependency</a>
    </div>
    <div class="navbar-collapse collapse">
      @if(data.user.isEmpty) {
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Login/Register</a></li>
        </ul>
      } else {
        <div class="dropdown nav navbar-nav navbar-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            @data.user.get.email <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
          </ul>
        </div>
      }
    </div>
  </div>
</div>


