@(languageVersions: io.flow.play.util.PaginatedCollection[com.bryzek.dependency.v0.models.LanguageVersion])

@if(languageVersions.isEmpty) {
  <em>No languages</em>
} else {
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Language</th>
          <th>Version</th>
        </tr>
      </thead>
      @languageVersions.items.map { lang =>
        <tr>
	  <td><a href="@routes.LanguagesController.show(lang.language.guid)">@lang.language.name</a></td>
          <td>@lang.version</td>
        </tr>
      }
    </table>
  </div>
}
