@(data: com.bryzek.dependency.lib.UiData,
  githubClientId: String,
  loginForm: Form[controllers.LoginController.LoginData],
  errorMessages: Seq[String] = Nil
)(implicit flash: Flash, messages: Messages)

@main(data, errorMessages = errorMessages) {

  <div class="container">

    <a class="btn btn-block btn-social btn-github" href="https://github.com/login/oauth/authorize?scope=user:email,repo&client_id=@githubClientId">
      <span class="fa fa-github"></span> Sign in with Github
    </a>

  </div>

}
